.container {
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: max-content 3fr 2fr;

  @include respond(tab-land) {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto 1fr;
  }

  @include respond(tab-port) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr;
  }
}
