@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 81.25em) {
  html {
    font-size: 59.375%;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 53.125%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  height: 20px;
  border-radius: 100px;
  background-color: #fce5bb;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ef994d;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #111;
}

.heading-1 {
  font-size: 2.2rem;
  line-height: 1.2;
}
@media only screen and (max-width: 31.25em) {
  .heading-1 {
    font-size: 2rem;
  }
}

.heading-2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #111;
}

.container {
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: max-content 3fr 2fr;
}
@media only screen and (max-width: 56.25em) {
  .container {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto 1fr;
  }
}
@media only screen and (max-width: 43.75em) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr;
  }
}

.btn:link, .btn:visited {
  font-size: 1.4rem;
  color: #fff;
  background-color: #f0894d;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 100px;
  text-decoration: none;
  transition: all 0.2s;
}
.btn:hover, .btn:active {
  background-color: #ec6a1e;
}

.btn-text:link, .btn-text:visited {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  color: #f0894d;
  transition: all 0.2s;
}
.btn-text:hover, .btn-text:active {
  box-shadow: 0 1px currentColor;
}

.sidebar {
  height: 100vh;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.05);
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content 1fr max-content;
}
@media only screen and (max-width: 68.75em) {
  .sidebar {
    height: 127vh;
  }
}
@media only screen and (max-width: 56.25em) {
  .sidebar {
    grid-column: 1/-1;
    grid-template-columns: 7rem 1fr max-content;
    grid-template-rows: max-content auto;
    width: 100%;
    height: auto;
    box-shadow: none;
    position: relative;
    scroll-behavior: smooth;
  }
}
@media only screen and (max-width: 31.25em) {
  .sidebar {
    grid-template-columns: max-content 1fr max-content;
  }
}
.sidebar__input {
  display: none;
}
.sidebar__btn {
  position: absolute;
  top: 3.6rem;
  left: 3.5rem;
}

.title {
  padding: 2.4rem 2.4rem 1rem;
  border-bottom: 1px solid #ddd;
  background-color: #f2ede3;
}
@media only screen and (max-width: 56.25em) {
  .title {
    background: none;
    padding: 1.5rem 2.4rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .title {
    background: none;
    padding: 0;
    display: grid;
    align-content: center;
  }
}
.title__text {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.2;
}
@media only screen and (max-width: 25em) {
  .title__text {
    font-size: 1rem;
    width: 41.5vw;
  }
}

.help {
  justify-self: center;
  margin-bottom: 1rem;
  display: grid;
  place-items: center;
  margin-top: 6rem;
}
.help__icon {
  height: 4.8rem;
  width: 4.8rem;
  color: #000000;
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
}
.help__icon:hover {
  fill: #333;
}
@media only screen and (max-width: 56.25em) {
  .help {
    grid-column: -2/-1;
    grid-row: 1/2;
    margin-bottom: 0;
    padding-right: 1rem;
    height: 100%;
    border-bottom: 1px solid #ddd;
  }
}
@media only screen and (max-width: 25em) {
  .help {
    display: none;
  }
}

.nav {
  align-self: center;
}
@media only screen and (max-width: 56.25em) {
  .nav {
    grid-row: 2/3;
    grid-column: 1/-1;
  }
}
.nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 56.25em) {
  .nav__list {
    flex-direction: row;
  }
}
@media only screen and (max-width: 56.25em) {
  .nav__item {
    flex: 1;
  }
}
.nav__link {
  width: 7rem;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}
@media only screen and (max-width: 56.25em) {
  .nav__link {
    width: 100%;
  }
}
@media only screen and (max-width: 25em) {
  .nav__link {
    height: 5rem;
  }
}
.nav__link:link, .nav__link:visited {
  text-decoration: none;
}
.nav__link--active {
  background-color: #f2ede3;
}
.nav__link--active .nav__icon {
  stroke: #111;
}
@media only screen and (max-width: 56.25em) {
  .nav__link--active {
    background-color: transparent;
  }
  .nav__link--active .nav__icon {
    stroke: #555;
  }
}
.nav__link:hover, .nav__link:active {
  background-color: #f2ede3;
}
.nav__link:hover .nav__icon, .nav__link:active .nav__icon {
  font-weight: 2.2rem;
  stroke: #111;
}
.nav__icon {
  height: 2.4rem;
  width: 2.4rem;
  stroke: #555;
  transition: all 0.2s;
}

@media only screen and (max-width: 56.25em) {
  .sidebar__input:checked ~ .nav #homeLink {
    background-color: #f2ede3;
  }
  .sidebar__input:checked ~ .nav #homeLink .nav__icon {
    stroke: #111;
  }
}
.menu {
  grid-row: 2/-1;
  grid-column: 2/-1;
  background-color: #f2ede3;
  padding: 2.4rem;
  max-height: 90vh;
  overflow-y: auto;
  width: 26rem;
}
@media only screen and (max-width: 68.75em) {
  .menu {
    max-height: 120vh;
  }
}
@media only screen and (max-width: 75em) {
  .menu {
    width: 23rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    width: 100vw;
    opacity: 0;
    transform: translateY(1rem) scaleY(0);
    transform-origin: top;
    transition: all 0.3s;
    backface-visibility: hidden;
  }
  .menu:target {
    opacity: 1;
    transform: translateY(7rem) scaleY(1);
  }
}
@media only screen and (max-width: 56.25em) and (max-width: 25em) {
  .menu:target {
    transform: translateY(5rem) scaleY(1);
  }
}
@media only screen and (max-width: 56.25em) {
  .menu.is-open {
    opacity: 1;
    transform: translateY(7rem) scaleY(1);
  }
}
@media only screen and (max-width: 56.25em) and (max-width: 25em) {
  .menu.is-open {
    transform: translateY(5rem) scaleY(1);
  }
}
@media only screen and (max-width: 56.25em) {
  .sidebar__input:checked ~ .menu {
    opacity: 1;
    transform: translateY(7rem) scaleY(1);
  }
}
@media only screen and (max-width: 56.25em) and (max-width: 25em) {
  .sidebar__input:checked ~ .menu {
    transform: translateY(5rem) scaleY(1);
  }
}
.menu__title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  cursor: pointer;
}
.menu__expand-icon {
  height: 1.6rem;
  width: 1.6rem;
  stroke: #111;
  transform: rotate(-90deg);
  transition: all 0.3s;
}
.menu__list {
  list-style: none;
  height: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 2rem;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.3s;
}
.menu__item:last-child {
  margin-bottom: 2rem;
}
.menu__link:link, .menu__link:visited {
  color: #333;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.2;
  text-decoration: none;
  transition: all 0.2s;
}
.menu__link:hover, .menu__link:active {
  color: #111;
  font-weight: 700;
}
.menu__expand {
  display: none;
}
.menu__expand:checked + .menu__list {
  opacity: 1;
  transform: scaleY(1);
  height: auto;
}
.menu__nav:has(.menu__expand:checked) .menu__expand-icon {
  transform: rotate(0);
}

.logo-box {
  border-bottom: 1px solid #ddd;
  display: grid;
  align-items: center;
  justify-content: end;
}
.logo-box .logo {
  height: 6.5rem;
  width: 6.5rem;
  border-radius: 50%;
  display: block;
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
}
.logo-box .logo::before {
  content: "";
  display: block;
  border: 2px solid;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo-box .logo::after {
  content: "Z";
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-95%, -40%) rotate(60deg);
}
.logo-box .logo:hover {
  transform: scale(1.03);
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 100px;
  padding: 1.2rem 1.5rem;
  margin-bottom: 4rem;
  transition: all 0.2s;
}
.search__icon {
  height: 1.6rem;
  width: 1.6rem;
  color: #999;
  transition: all 0.2s;
}
.search__label {
  display: grid;
  place-items: center;
  cursor: pointer;
}
.search__input {
  font-size: 1.4rem;
  font-weight: 300;
  color: #333;
  border: none;
  outline: none;
  flex: 1;
  background-color: transparent;
}
.search__input::placeholder {
  color: #999;
}
.search:focus-within {
  border-color: #333;
}

.projects {
  margin-bottom: 2.4rem;
}
.projects__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}
.projects__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 2rem;
}
@media only screen and (max-width: 68.75em) {
  .projects__container {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 56.25em) {
  .projects__container {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}
@media only screen and (max-width: 31.25em) {
  .projects__container {
    grid-template-columns: 1fr;
  }
}

.project {
  padding: 3rem 2.8rem;
  border-radius: 2rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.25rem 1.5rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.project:hover {
  transform: scale(1.02);
  transition: all 0.2s;
  box-shadow: 0 0.75rem 2rem rgba(0, 0, 0, 0.08);
}
@media only screen and (max-width: 68.75em) {
  .project {
    height: 28rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .project {
    height: 35rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .project {
    height: 30rem;
  }
}
.project--1 {
  background-color: #fcbea4;
}
.project--1 .project__team-count,
.project--1 .project__team-img {
  border: 0.3rem solid #fcbea4;
}
.project--1 .project__team-count:hover {
  background-color: #fcbea4;
}
.project--2 {
  background-color: #fce6bd;
}
.project--2 .project__team-count,
.project--2 .project__team-img {
  border: 0.3rem solid #fce6bd;
}
.project--2 .project__team-count:hover {
  background-color: #fce6bd;
}
.project__team {
  display: flex;
  margin-bottom: 3.2rem;
}
.project__team-count, .project__team-img {
  height: 4.2rem;
  width: 4.2rem;
  border-radius: 50%;
}
.project__team-count {
  font-size: 1.5rem;
  color: #fff;
  display: grid;
  place-items: center;
  background-color: #111;
  z-index: 3;
  transition: all 0.2s;
  cursor: pointer;
}
.project__team-count:hover {
  font-weight: 500;
  color: #111;
  border: 0.2rem solid #111;
}
.project__team-img {
  object-fit: cover;
  margin-left: -1.5rem;
  z-index: 2;
}
.project__team .project__team-img:last-of-type {
  z-index: 1;
}
.project__team .btn-opt {
  border: none;
  background: none;
  margin-left: auto;
  cursor: pointer;
}
.project__team .btn-opt__icon {
  height: 3rem;
  width: 3rem;
  margin-right: -1rem;
}
.project__title {
  font-size: 2.2rem;
  line-height: 1.2;
  color: #111;
  margin-bottom: 1.6rem;
}
@media only screen and (max-width: 56.25em) {
  .project__title {
    font-size: 2rem;
  }
}
.project__deadline {
  font-size: 1.1rem;
  font-weight: 500;
  color: #111;
  margin-bottom: auto;
}
.project__progress-text {
  font-size: 1.2rem;
  font-weight: 500;
  color: #111;
}
.project__progress-bar {
  width: 100%;
  height: 0.6rem;
  border: none;
}
.project__progress-bar::-webkit-progress-bar {
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.2);
}
.project__progress-bar::-webkit-progress-value {
  border-radius: 100px;
  background-color: #000000;
}

.reminder {
  border: 1px solid #ddd;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.03);
  margin-top: 1rem;
}
.reminder__container {
  overflow: hidden;
  position: relative;
}
.reminder__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  transition: all 0.4s;
  height: 100%;
  width: 100%;
}
.reminder__content--2, .reminder__content--3 {
  position: absolute;
  top: 0;
}
.reminder__text-box {
  flex: 0 1 30rem;
}
.reminder__date {
  color: #333;
  font-weight: 500;
}
.reminder__text {
  font-size: 1.8rem;
  font-weight: 700;
  grid-column: 1/2;
  text-wrap: pretty;
}
@media only screen and (max-width: 68.75em) {
  .reminder__text {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 75em) {
  .reminder__text {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .reminder__text {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 25em) {
  .reminder__text {
    font-size: 1.3rem;
  }
}
.reminder__btn {
  flex-shrink: 0;
  font-size: 1.2rem;
  color: #111;
  font-weight: 500;
  padding: 0.8rem 1.6rem;
  border: 2px dashed #fcc0a6;
  border-radius: 100px;
  background: none;
  cursor: pointer;
  transition: all 0.2s;
}
.reminder__btn:hover {
  background-color: rgba(239, 136, 77, 0.2);
}
.reminder__indicator {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}
.reminder__label {
  display: inline-block;
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  background-color: #fce5bb;
  transition: all 0.2s;
  cursor: pointer;
}
.reminder__label:hover {
  transform: scale(1.25);
  background-color: #ef884d;
  box-shadow: 0 0 0 4px rgba(239, 136, 77, 0.15);
}
.reminder__input {
  display: none;
}
.reminder__input:checked + .reminder__label {
  background-color: #ef884d;
}
.reminder:has(.reminder__input--1:checked) .reminder__container .reminder__content--1 {
  transform: translateX(0);
}
.reminder:has(.reminder__input--1:checked) .reminder__container .reminder__content--2 {
  left: 100%;
}
.reminder:has(.reminder__input--1:checked) .reminder__container .reminder__content--3 {
  left: 200%;
}
.reminder:has(.reminder__input--2:checked) .reminder__container .reminder__content--1 {
  transform: translateX(-100%);
}
.reminder:has(.reminder__input--2:checked) .reminder__container .reminder__content--2 {
  left: 0;
}
.reminder:has(.reminder__input--2:checked) .reminder__container .reminder__content--3 {
  left: 100%;
}
.reminder:has(.reminder__input--3:checked) .reminder__container .reminder__content--1 {
  transform: translateX(-200%);
}
.reminder:has(.reminder__input--3:checked) .reminder__container .reminder__content--2 {
  left: -100%;
}
.reminder:has(.reminder__input--3:checked) .reminder__container .reminder__content--3 {
  left: 0;
}

.user-section {
  padding: 2.4rem 3.6rem 2rem 4rem;
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.05);
}
@media only screen and (max-width: 68.75em) {
  .user-section {
    padding: 2.4rem 3rem 2rem;
  }
}

.user-header {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: min-content max-content;
  align-items: center;
  justify-items: end;
  grid-column-gap: 2rem;
  margin-bottom: 4.8rem;
}
.user-header .btn-more {
  grid-column: -2/-1;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: -1rem;
  margin-right: -1rem;
}
.user-header .btn-more__icon {
  stroke: #fcc0a6;
  height: 5rem;
  width: 5rem;
  transition: all 0.2s;
}
.user-header .btn-more__icon:hover {
  stroke: #ef884d;
}
.user-header .btn--add-project {
  grid-row: -2/-1;
}
@media only screen and (max-width: 43.75em) {
  .user-header {
    grid-template-rows: max-content;
    margin-bottom: 3.2rem;
  }
  .user-header .btn--add-project {
    grid-row: 1/2;
  }
}

.user-profile {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-template-rows: repeat(2, max-content);
  align-items: center;
  grid-column-gap: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: #999;
  line-height: 0;
  cursor: pointer;
}
.user-profile .notification {
  margin-right: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  grid-row: 1/-1;
  position: relative;
}
.user-profile .notification__icon {
  height: 2.4rem;
  width: 2.4rem;
}
.user-profile .notification::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 4px;
  width: 7px;
  height: 7px;
  background: #ff3b30;
  border: 1px solid #fff;
  border-radius: 50%;
}
.user-profile__img {
  grid-row: 1/-1;
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 50%;
  cursor: pointer;
}
.user-profile__name {
  font-size: 1.4rem;
  font-weight: 700;
  color: #111;
}
.user-profile__btn {
  grid-column: -2/-1;
  grid-row: 1/-1;
  border: 1px solid #fce5bb;
  background-color: #f2ede3;
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.user-profile__btn__icon {
  stroke: #ef884d;
  height: 1.3rem;
  width: 1.3rem;
}
@media only screen and (max-width: 43.75em) {
  .user-profile {
    position: absolute;
    top: 1.5rem;
    right: 6.4rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .user-profile {
    top: 1.3rem;
  }
}
@media only screen and (max-width: 25em) {
  .user-profile {
    right: 0.5rem;
  }
  .user-profile .notification {
    margin-right: 0;
  }
}

.team {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 2.4rem;
}
@media only screen and (max-width: 43.75em) {
  .team {
    justify-content: start;
    gap: 1rem;
  }
}
@media only screen and (max-width: 25em) {
  .team {
    flex-wrap: wrap;
  }
}
.team__member {
  cursor: pointer;
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
}
@media only screen and (max-width: 43.75em) {
  .team__member {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
  }
}
@media only screen and (max-width: 25em) {
  .team__member {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
  }
}
.team__member--no-dp {
  font-size: 1.6rem;
  font-weight: 500;
  color: #ef884d;
  background-color: rgba(252, 229, 187, 0.5);
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
@media only screen and (max-width: 43.75em) {
  .team__member--no-dp {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
  }
}
@media only screen and (max-width: 25em) {
  .team__member--no-dp {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
  }
}
.team__img {
  cursor: pointer;
  display: block;
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
}
@media only screen and (max-width: 43.75em) {
  .team__img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
  }
}
@media only screen and (max-width: 25em) {
  .team__img {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
  }
}
.team__add-btn {
  line-height: 1;
  display: grid;
  place-items: center;
  color: #ef884d;
  font-size: 2rem;
  border: 2px dashed currentColor;
  border-radius: 50%;
  background-color: rgba(242, 237, 227, 0.5);
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  transition: all 0.2s;
}
.team__add-btn:hover {
  background-color: rgba(239, 136, 77, 0.2);
}
@media only screen and (max-width: 43.75em) {
  .team__add-btn {
    height: 3.2rem;
    width: 3.2rem;
  }
}
@media only screen and (max-width: 25em) {
  .team__add-btn {
    height: 3rem;
    width: 3rem;
  }
}

.overview {
  margin: 2rem auto;
  padding: 2rem 1.6rem 2.2rem;
  border-radius: 2rem;
  border: 1px solid #f7f7f7;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.overview__text {
  color: #9d9d9d;
  font-size: 1.1rem;
  font-weight: 500;
}
@media only screen and (max-width: 68.75em) {
  .overview__text {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 43.75em) {
  .overview__text {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 25em) {
  .overview__text {
    font-size: 1rem;
  }
}
.overview__value {
  color: #111;
  font-size: 1.6rem;
  font-weight: 700;
}

.tasks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.6rem;
}
.tasks__header {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.task {
  height: 15rem;
  padding: 1rem 1.5rem;
  padding-left: 2.4rem;
  box-shadow: 0 0.75rem 2rem rgba(0, 0, 0, 0.08);
  border-radius: 1rem;
  color: #111;
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-rows: 3rem 1fr min-content;
}
.task--new {
  position: relative;
  background-color: #fff;
}
.task--new::before, .task--new::after {
  content: "";
  position: absolute;
  display: block;
  border: 2px solid #fcc0a6;
  border-color: #ef884d;
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  pointer-events: none;
  z-index: 1;
}
.task--new::before {
  top: 5rem;
  right: -12rem;
  transform: rotate(80deg);
}
.task--new::after {
  top: 8rem;
  right: -10rem;
  transform: rotate(-10deg);
}
.task__text {
  color: inherit;
  font-size: 1.5rem;
  font-weight: 500;
  text-wrap: balance;
  line-height: 1.3;
  grid-row: 2/3;
  z-index: 10;
}
.task__add-btn {
  grid-row: -2/-1;
  justify-self: end;
  align-self: end;
  background: none;
  border: none;
  font-size: 2.4rem;
  font-weight: 100;
  color: #333;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
}
.task__add-btn:hover {
  transform: translateY(-1px) scale(1.1);
  color: #ef884d;
}
.task__status {
  justify-self: end;
  font-size: 1.1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.task__status > * {
  display: inline-block;
}
.task__status__check {
  height: 1.1rem;
  width: 1.1rem;
  border: 1px solid #fcc0a6;
  border-radius: 0.2rem;
  cursor: pointer;
}
.task__status__icon {
  height: 1.1rem;
  width: 1.1rem;
  background-color: #000;
  cursor: pointer;
}
.task__status::before {
  content: "";
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  margin-right: -0.5rem;
}
.task__status--new::before {
  background-color: #ef884d;
}
.task__status--in-progress::before {
  background-color: dodgerblue;
}
.task__status--done::before {
  background-color: #fff;
}
.task--add-new {
  background-color: rgba(242, 237, 227, 0.8);
  cursor: pointer;
}
.task--in-progress::before, .task--in-progress::after,
.task--in-progress .task__status::after {
  content: "";
  display: block;
  height: 2rem;
  width: 8rem;
  border: 1px solid #fcc0a6;
  border-radius: 2px;
  position: absolute;
  left: -1.2rem;
}
.task--in-progress::before {
  bottom: 2rem;
  transform: translate(-50%, -10%) rotate(-25deg);
}
.task--in-progress::after {
  width: 7.4rem;
  bottom: 1rem;
  transform: rotate(-25deg);
}
.task--in-progress .task__status::after {
  bottom: -2rem;
  transform: rotate(-25deg);
}
.task--done {
  background-color: #ef884d;
  color: #fff;
}
.task--done::before, .task--done::after,
.task--done .task__status::after {
  content: "";
  display: block;
  height: 2.4rem;
  width: 2rem;
  border: 1px solid currentColor;
  border-radius: 60% 40% 60% 40%/60% 40% 60% 40%;
  position: absolute;
}
.task--done::before {
  right: 6rem;
  bottom: -0.6rem;
}
.task--done::after {
  right: -1rem;
  bottom: 0;
}
.task--done .task__status::after {
  height: 4.2rem;
  width: 3.5rem;
  right: 1.2rem;
  bottom: 2rem;
}

input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid orange;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

input[type=checkbox]:checked {
  background-color: #000;
}

input[type=checkbox]:checked::after {
  content: "✔";
  position: absolute;
  left: 2px;
  top: -2px;
  font-size: 1rem;
  color: white;
}

.dashboard {
  padding: 2.4rem 3.6rem 0;
}

.date {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 31.25em) {
  .date {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
